@import "../../scss/colors.scss";

.price {

  @media screen and (max-width: 769px) {
    padding: 40px 0;
  }

  &__wrapper {
    max-width: 1677px;
    width: 100%;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 30px;

    @media screen and (max-width: 992px) {
      margin-bottom: 15px;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 28px;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px 36px;
    border: 1px solid $red;
    border-radius: 15px;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  &__table {
    margin-bottom: 40px;
  }

  &-table {
    &__items {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      background: #FFFFFF;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
      border-radius: 15px;
      padding: 28px 38px;
      box-sizing: border-box;
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 15px;
      width: calc(100% / 7);
      padding: 27px;
      box-sizing: border-box;

      &:nth-child(even) {
        & .price-table__button {
          background-color: $green;
        }
      }

      &:nth-child(odd) {
        & .price-table__button {
          background-color: $red;
        }
      }
    }

    &__title {
      font-weight: 700;
      font-size: 20px;
      line-height: 105%;
      text-align: center;
    }

    &__button {
      padding: 11px 21px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
      color: $white;
    }
  }
}
