@import "../../scss/colors.scss";

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  position: unset;

  &-bullet{
    width: 15px;
    height: 15px;
    min-width: 15px;
    background: rgba(54, 52, 53, 0.5);
    box-sizing: border-box;
    opacity: 1;
  }
}
