@import "../../scss/colors.scss";

.problems {
  padding-top: 160px;

  @media screen and (max-width: 992px) {
    padding-top: 80px;
  }

  &-slider {
    &__item {
      height: unset !important;
      display: flex;
      padding: 2px;
      box-sizing: border-box;
    }

    &__bottom {
      display: none;
      align-items: center;
      justify-content: center;
      column-gap: 20px;

      @media screen and (max-width: 769px) {
        display: flex;
      }
    }

    &__pagination{
      width: fit-content!important;
    }
  }
}
